@font-face {
    font-family: titlefont;
    src: url(../fonts/coalition.ttf);
}

@font-face {
    font-family: subtitle;
    src: url(../fonts/neuropol.ttf);
}

@font-face {
    font-family: contentfont;
    src: url(../fonts/caviar.ttf);
}

*{
  margin: 0px;
  padding: 0px;
}

.font1{
  font-family: titlefont;
  letter-spacing: 3px;
}

.font2{
  font-family: subtitle;
  letter-spacing: 3px;
}

.font3{
  font-family: contentfont;
  letter-spacing: 3px;
  color: white;
}

.fontcolor1{
  color: rgb(229, 231, 232);
}


.fontcolor2{
  color:rgb(226,52,42);
}

.navbar{
  background-color: rgb(42,18,44);

}

.navbar-brand{
  font-family: titlefont;
  color:rgb(226,52,42);
}

.navbar-nav{
  font-family: contentfont;
}

#nav{
  position: fixed;
  width: 100%;
}

#home{
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
  padding-top: 70px;
}



.layer0 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    z-index: 0;
}

.row2{
  /*margin-top: 100px;*/
  color:rgb(226,52,42);
  margin-bottom: 20px;
}


#about{
  height: 100%;
  background-color: rgb(42,18,44);
  background: url(../images/pix1.png);
  background-size: cover; 
  font-family: contentfont;
}
  
.about{
  color:white;
  margin-top: 100px;
  margin-bottom: 100px;
}

#skills{
  height: 100%;
  background-color: rgb(42,18,44);
  font-family: contentfont;
  padding: 50px; 
}


.contain-title{
  margin-top: 100px;
  color: white;
  font-family: titlefont;
}

.contain-skills{
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

.portfolio{
  height: 100%;
  background: url(../images/pix2.png);
  background-size: cover;
}

#contact{

  height: 100%;
  background-color: rgb(42,18,44);

}

.footer{
  background-color: rgb(226,52,42);
  height: 30px;
  color: white;
  width:100%;
}

#social{
  margin-top: 100px;
}

.pict{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 6px solid rgba(165, 226, 239, .3);
}

.b-color{
  background-color: rgba(0,0,0,.2);
  border-radius: 20px;
}

.pixes{
  object-fit: contain;

}

/*desktop style*/
@media only screen and (min-width: 961px){
	
}


/*table style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
}


/*mobile style*/
@media only screen and (max-width: 400px){
	
}